@charset 'UTF-8';

/*::::::::::::::::::::::::::::::: Design :::::::::::::::::::::::::::::::*/
#admin_wrap {min-width:1200px;}

select, input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], input[type="url"], input[type="search"], input[type="file"], textarea {padding:0 10px; font-size:15px !important; border:1px solid #E1E1E1; border-radius:4px;}
textarea {padding:10px;}
.select select {padding:0 35px 0 10px;}

#admin_wrap label[class*='input'] i {font-size:15px; top:13px; left:10px;}
#admin_wrap label[class*='input'] button[class*='icon_'] {right:10px;}
#admin_wrap .label_wrap {border:0;}

#admin_wrap.close header nav {transform:translateX(-100%);}
#admin_wrap.close header .btn_open:before {margin-left:-4px; transform:translate(-50%, -50%) rotate(45deg)}
#admin_wrap.close header h1 {color:#222;}
#admin_wrap.close header h1 a {color:#e60012;}
#admin_wrap.close footer {left:0;}
#admin_wrap.close #container {margin-left:0;}

/* header */
header {padding:19px 20px; background-color:#fff; box-shadow:0 1px 3px 0 #cacaca; position:sticky; top:0; z-index:100; display:flex; align-items:center; justify-content:space-between;}
header h1 {margin-bottom:34px; padding-left:40px; color:#fff; font-size:18px; font-weight:600; position:relative; z-index:1; transition:color 0.25s;}
header h1 a {color:#fff; font-size:26px; font-weight:700; display:block; transition:color 0.25s;}
header h1 img {height:40px;}
header .quick {margin-left:auto; color:#333; font-size:12px; font-weight:400; display:flex; align-items:center;}
header .quick li {display:flex; align-items:center;}
header .quick li + li {margin-left:32px;}
header .quick .user:before, header .quick .timer:before {width:16px; height:16px; margin-right:7px; background-image:url('../images/admin/icon_sprit.png'); background-repeat:no-repeat; content:''; display:block;}
header .quick .user:before {background-position:0 0;}
header .quick .timer:before {width:18px; height:18px; background-position:-30px 0;}
header .quick .btnSection {margin-top:0; display:flex; gap:8px;}
header .quick .btnSection button {padding:6px 20px; color:#444; font-size:13px; font-weight:500; border:1px solid #C5C8CF; border-radius:4px;}

header nav {padding:35px 0 30px 0; background-color:#40454f; position:fixed; top:0; bottom:0; left:0; transition:transform 0.25s;}
header nav > div {width:250px;}
header nav dt, header nav dt > a {color:#F4F4F4; font-size:16px; display:block;}
header nav dt > a {padding:15px 20px 15px 40px;}
header nav dt:hover, header nav dt > a:hover, header nav dt.active > a {color:#fff; font-weight:600; background-color:#2ECCC8;}
header nav dd {background-color:rgba(255,255,255,0.2); overflow:hidden; display:none; transition:height 0.2s ease-out;}
header nav dd.show {display:block !important;}
header nav dd ul {margin:10px 0;}
header nav dd a {padding:10px 10px 10px 45px; color:#fff; position:relative; display:block; transition:color 0.25s;}
header nav dd a:before {width:3px; height:3px; margin-top:-2px; background-color:#fff; border-radius:50%; content:''; position:absolute; top:50%; left:35px; display:block}
header nav dd a:hover, header nav li.active a {font-weight:600;}
header nav dd a:hover:before, header nav li.active a:before {width:4px; height:4px;}
header nav dd + dt, header nav dt + dt {border-top:1px solid #535760;}
header .btn_open {width:22px; height:48px; font-size:0; background-color:#40454F; border-radius:0 6px 6px 0 !important; position:absolute; top:50%; right:-22px; transform:translateY(-50%);}
header .btn_open:before {width:9px; height:9px; margin-left:2px; border:2px solid #fff; border-bottom:0; border-left:0; content:''; position:absolute; top:50%; left:50%; display:block; transform:translate(-50%, -50%) rotate(-135deg);}
/* //header */

/* footer */
footer {padding:10px 20px; color:#fff; font-size:13px; font-weight:400; background-color:#40454f; text-align:center; position:fixed; right:0; bottom:0; left:253px; z-index:100; transition:left 0.25s; display:none;}
/* //footer */

/* width */
.w_150 {width:150px;}
.full {width:100%;}

#container {min-height:calc(100vh - 122px); padding-top:38px !important; margin-left:253px; padding:30px 30px 50px; transition:margin 0.25s;}

.tit_wrap {margin-bottom:36px; display:flex;}
.tit_wrap h2 {margin-bottom:0; font-size:24px; font-weight:600;}

h3 {padding-bottom:20px; font-weight:500; display:flex; align-items:center; justify-content:space-between;}
h3 .more {padding-left:15px; font-size:13px; font-weight:400; position:relative;}
h3 .more:before, section h3 .more:after {width:10px; border-top:2px solid #222; content:''; position:absolute; top:50%; left:0; display:block;}
h3 .more:after {transform:rotate(90deg);}

.breadcrumb {margin-left:auto; color:#000; font-size:12px; font-weight:400; display:inline-flex;}
.breadcrumb li {display:flex; align-items:center;}
.breadcrumb li + li:before {margin:0 7px; content:'>'; display:block;}

section {display:flex; gap:30px;}
section + section {margin-top:30px;}
section > div {width:100%;}
section > div:not(.col_group) {padding:20px; background-color:#fff; border:1px solid #F0EEEB; border-radius:6px; flex:1;}
section .col_group {flex:1;}
section .col_group > div {padding:20px; background-color:#fff; border:1px solid rgba(151,157,15,0.1); border-radius:6px; box-shadow:0 4px 4px 0 rgba(14,34,56,.07);}
section .col_group > div + div {margin-top:20px;}

.warning_box {padding:18px 20px 15px 54px; color:#F34812; background-color:#FFFEF3; border:1px solid #F4D6A8; border-radius:8px; position:relative;}
.warning_box:before {width:24px; height:24px; background:url('../images/admin/icon_sprit.png') 0 -30px no-repeat; content:''; position:absolute; top:13px; left:20px; display:block;}

section.search_wrap {margin-bottom:30px;}
section.search_wrap .inner {padding:20px 40px;}
section.search_wrap .inner .row > li {display:flex; align-items:center;}
section.search_wrap .inner .row > li + li {margin-top:12px;}
section.search_wrap .inner * + .check_group {margin-left:0 !important;}
section.search_wrap .select {flex:initial;}
section.search_wrap .btn_search {background-color:#666A72; border-radius:4px;}
section.search_wrap .btn_search em {width:auto; height:auto; padding:12px 30px; color:#fff; font-size:15px; font-weight:600; background:none;}
section.search_wrap .inner > div + div {margin-top:12px;}
section.search_wrap dl {display:inline-flex; align-items:center;}
section.search_wrap dt {margin-right:16px; color:#444; font-size:15px;}

/* result & search */
.board_info_wrap {margin-bottom:10px; display:flex; align-items:center;}
.board_info_wrap:after {clear:both; content:''; display:block;}
.board_info_wrap .result_count {color:#333; font-size:13px; font-weight:300;}
.board_info_wrap .result_count strong {font-weight:600;}

.board_info_wrap .btnSection {margin-top:0 !important; margin-left:auto;}
.board_info_wrap .btnSection:after {clear:both; content:''; display:block;}
.board_info_wrap .btnSection > * {float:left;}
.board_info_wrap .btnSection .select + * {margin-left:20px;}
.board_info_wrap .btnSection [class*='btn_'] {border:1px solid #c6c6c6; border-radius:4px;}
.board_info_wrap .btnSection em {padding:11px 20px; font-size:15px; display:flex; align-items:center;}
.board_info_wrap .btnSection em:after {width:16px; height:16px; margin-left:8px; background-image:url('../images/admin/icon_sprit.png'); background-repeat:no-repeat; content:''; display:block;}
.board_info_wrap .btnSection .btn_add, .board_info_wrap .btnSection .btn_upload {color:#239390; background-color:#f0ffff; border-color:#37c7c4;}
.board_info_wrap .btnSection .btn_download em:after {background-position:-60px 0;}
.board_info_wrap .btnSection .btn_add em:after {background-position:-90px 0;}
.board_info_wrap .btnSection .btn_upload em:after {background-position:-120px 0;}

.board_info_wrap .search_wrap {margin-left:auto; position:relative; display:flex; gap:10px;}
.board_info_wrap .search_wrap .btn_search {width:40px; font-size:0; background-color:#222; position:relative;}
.board_info_wrap .search_wrap .btn_search:before {width:12px; height:12px; margin-top:-2px; margin-left:-2px; border:2px solid #fff; border-radius:50%; content:''; position:absolute; top:50%; left:50%; display:inline-block; transform:translate(-50%, -50%);}
.board_info_wrap .search_wrap .btn_search:after {height:8px; margin-top:4px; margin-left:8px; border-left:2px solid #fff; content:''; position:absolute; top:50%; left:50%; display:inline-block; transform:rotate(-45deg) translate(-50%, -50%);}

#admin_wrap .table_wrap table {border-top:1px solid #EEEBE9;}
#admin_wrap .table_wrap table thead {background-color:#F6F7F8;}
#admin_wrap .table_wrap table tr {border-bottom:1px solid #EEEBE9;}
#admin_wrap .table_wrap th, #admin_wrap .table_wrap td {font-size:15px;}
#admin_wrap .table_wrap th {font-weight:500;}
#admin_wrap .table_wrap td {font-weight:300;}

#admin_wrap .table_wrap .type_list tbody tr:hover {background-color:#f0f6ff;}
#admin_wrap .table_wrap .type_list tbody th, #admin_wrap .table_wrap .type_list tbody td {padding:20px 15px;}

#admin_wrap .table_wrap.detaile {overflow:hidden;}
#admin_wrap .table_wrap.detaile .inner {margin-left:-1px;}
#admin_wrap .table_wrap.detaile th {text-align:center;}
#admin_wrap .table_wrap.detaile th, #admin_wrap .table_wrap.detaile td {border-left:1px solid #EEEBE9;}

#admin_wrap .table_wrap.detaile .row_header {background-color:#FFFBED;}

/* paging */
#admin_wrap .paging {margin-top:40px; text-align:center;}
#admin_wrap .paging > div {display:inline-block;}
#admin_wrap .paging > div:after {clear:both; content:''; display:block;}
#admin_wrap .paging > div > * {width:40px; height:40px; margin:0 2px; color:#666; font-size:14px; font-weight:300; line-height:38px; border:1px solid #e8e5e2; vertical-align:middle; float:left; position:relative; display:inline-block; transition:all 0.35s;}
#admin_wrap .paging > div > *:hover {color:#333; font-weight:700; border-color:#444;}
#admin_wrap .paging > div strong {color:#333; font-weight:700; border-color:#444;}
#admin_wrap .paging .first, #admin_wrap .paging .prev, #admin_wrap .paging .next, #admin_wrap .paging .last {font-size:0;}
#admin_wrap .paging .first:before, #admin_wrap .paging .prev:before, #admin_wrap .paging .next:before, #admin_wrap .paging .last:before {width:8px; height:8px; border-top:1px solid #666; border-right:1px solid #666; vertical-align:middle; content:''; display:inline-block;}
#admin_wrap .paging .first:hover:before, #admin_wrap .paging .prev:hover:before, #admin_wrap .paging .next:hover:before, #admin_wrap .paging .last:hover:before, #admin_wrap .paging .first:hover:after, #admin_wrap .paging .last:hover:after {border-color:#333;}
#admin_wrap .paging .first:after, #admin_wrap .paging .last:after {width:8px; height:8px; border-top:1px solid #666; border-right:1px solid #666; vertical-align:middle; content:''; display:inline-block;}
#admin_wrap .paging .first:before, #admin_wrap .paging .first:after, #admin_wrap .paging .prev:before {margin-right:-3px; transform:rotate(-135deg);}
#admin_wrap .paging .next:before, #admin_wrap .paging .last:before, #admin_wrap .paging .last:after {margin-left:-3px; transform:rotate(45deg);}
#admin_wrap .paging .prev {margin-right:16px;}
#admin_wrap .paging .next {margin-left:16px;}

#admin_wrap .check {padding-left:29px;}
#admin_wrap .check_group {margin-left:-40px;}
#admin_wrap .check_group .check {margin-left:40px;}
#admin_wrap .check input + .label:before {width:20px; height:20px; background-color:#fff !important; border:1px solid #E1E1E1; top:0; left:0;}
#admin_wrap .check input[type='radio'] + .label:after {width:12px; height:12px; background-color:#666; border-radius:50%; opacity:0; top:4px; left:4px;}
#admin_wrap .check input[type='radio']:checked + .label:after {opacity:1;}
#admin_wrap .check input[type='checkbox'] + .label:before {background:none;}
#admin_wrap .check input[type='checkbox']:checked + .label:after {width:14px; height:8px; border:2px solid #444; border-top:0; border-right:0; top:4px; left:3px; display:block; transform:rotate(-45deg);}

/* tab */
.tab_wrap [class*='tab_type'] {display:flex; flex-wrap:wrap;}
.tab_wrap [class*='tab_type'] > li a {display:block;}

.tab_content {margin-top:20px;}
.tab_content > div {display:none;}
.tab_content > div.current {display:block;}

.tab_type01 li {flex:1;}
.tab_type01 a {padding:10px 5px; font-size:14px; font-weight:500; background-color:#f6f7fb; text-align:center; transition:all 0.25s;}
.tab_type01 li.current a {color:#fff; background-color:#727cf5;}

.tab_type02 {border-bottom:1px solid #dee2e6;}
.tab_type02 li {flex:0;}
.tab_type02 a {margin-bottom:-1px; padding:10px 15px;}
.tab_type02 li.current a {border:1px solid #dee2e6; border-bottom:1px solid #fff; border-radius:4px 4px 0 0;}

/* progress */
.progress_wrap {height:10px; background-color:#e9ecef; border-radius:10px; overflow:hidden; position:relative;}
.progress_bar {width:0; font-size:0; background-color:#ff7200; border-radius:10px; text-align:right; position:absolute; top:0; bottom:0; left:0; transition:width 1s;}
.progress_bar * {margin-right:5px; color:#fff; font-size:11px; font-weight:700; line-height:1; vertical-align:middle; display:inline-block;}
.progress_bar em {font-style:normal; position:absolute; top:0; right:0; transition:all 0.2s;}

/* loading */
.preloader_wrap {background-color:rgba(0,0,0,0.6); text-align:center; position:fixed; top:0; right:0; bottom:0; left:0; z-index:100; display:none;}
.preloader_wrap.active {display:block;}
.preloader_wrap:before {height:100%; vertical-align:middle; content:''; display:inline-block;}
.preloader {width:50px; height:50px; font-size:0; vertical-align:middle; display:inline-block; animation:container-rotate 1568ms linear infinite;}
.preloader * {box-sizing:border-box;}
.preloader .spinner_layer {width:100%; height:100%; position:absolute; animation:fill-unfill-rotate 5332ms cubic-bezier(0.4,0,0.2,1) infinite both;}
.preloader .circle_clipper {width:50%; height:100%; overflow:hidden; position:relative; display:inline-block;}
.preloader .gap_patch {width:10%; height:100%; border-color:inherit; overflow:hidden; position:absolute; top:0; left:45%;}
.preloader .circle_clipper .circle {width:200%; height:100%; border-width:3px; border-style:solid; border-color:#ff7200; border-bottom-color:transparent !important; border-radius:50%; position:absolute; top:0; right:0;}
.preloader .circle_clipper.left .circle {border-right-color:transparent !important; left:0; animation:left-spin 1333ms cubic-bezier(0.4,0,0.2,1) infinite both;}
.preloader .gap_patch .circle {width:1000%; left:-450%;}
.preloader .circle_clipper.right .circle {border-left-color:transparent !important; left:-100%; transform:rotate(-129deg); animation:right-spin 1333ms cubic-bezier(0.4,0,0.2,1) infinite both;}

@keyframes container-rotate {
	to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}

@keyframes fill-unfill-rotate {
	12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}
	25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}
	37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}
	50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}
	62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}
	75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}
	87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}
	to{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}
}

@keyframes right-spin {
	from{-webkit-transform:rotate(-130deg);transform:rotate(-130deg)}
	50%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}
	to{-webkit-transform:rotate(-130deg);transform:rotate(-130deg)}
}

@keyframes left-spin {
	from{-webkit-transform:rotate(130deg);transform:rotate(130deg)}
	50%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}
	to{-webkit-transform:rotate(130deg);transform:rotate(130deg)}
}

#admin_wrap [class*='btn_'] {border-radius:4px; flex:initial;}
#admin_wrap .btn_text {text-decoration:underline;}
#admin_wrap .btn_small em {padding:6px 20px; color:#444;}
#admin_wrap .btn_cancel {background-color:#fff; border:1px solid #c6c6c6;}

#admin_wrap #container > .btnSection {margin-top:50px; justify-content:center;}
#admin_wrap #container > .btnSection [class*='btn_'] em {padding:11px 24px; border-radius:4px; display:block;}
#admin_wrap #container > .btnSection .btn_cancel {color:#333;}
#admin_wrap #container > .btnSection .btn_confirm {color:#fff; background-color:#666A72;}

.btn_del_02 {width:26px; height:26px; font-size:0; background:url('../images/admin/icon_del_02.png') 0 0 no-repeat; background-size:cover; display:inline-block;}
.btn_add_02 {width:26px; height:26px; font-size:0; background:url('../images/admin/icon_add_02.png') 0 0 no-repeat; background-size:cover; display:inline-block;}

.detail_cont {text-align:justify;}
.detail_cont h3 {padding-bottom:20px; color:#141824; font-size:18px; font-weight:700; border-bottom:1px solid #e3e6ed;}
.detail_cont * {margin:initial; padding:initial; list-style:initial;}
.detail_cont > * + * {margin-top:20px;}
.detail_cont img {max-width:100%;}
.detail_cont ul {padding-left:20px;}

.sibling_list {margin-top:40px; padding:10px 0; border-top:1px solid #e3e6ed; border-bottom:1px solid #e3e6ed;}
.sibling_list li {padding:0 10px; display:flex;}
.sibling_list li + li {border-top:1px dashed #e3e6ed;}
.sibling_list li:before {min-width:65px; padding:10px 0; display:block;}
.sibling_list li.prev:before {content:'[이전]'}
.sibling_list li.next:before {content:'[다음]'}
.sibling_list li a {padding:10px; display:block; flex:1;}

.list_wrap .type_register dt {background-color:#EEEBE9; border:1px solid #f6f7f8;}
.list_wrap .type_register dt:after {background-position:-117px -87px; top:12px; right:16px;}
.list_wrap .type_register dt .tit {padding:15px 20px; font-size:18px; font-weight:500; display:block;}

.list_wrap .type_register dd .cont {margin-top:30px;}
.list_wrap .type_register dd + dt {margin-top:30px;}