input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], input[type="url"], input[type="search"], input[type="file"], textarea {height:43px; padding:0 30px 0 0; background-color:#fff; border:0; border-bottom:1px solid #E1E1E1; border-radius:0; outline:0; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}

select {background-color:#fff; border:0; border-bottom:1px solid #E1E1E1; border-radius:0; outline:0;}

.multi_form {display:flex; flex-wrap:wrap; align-items:center; gap:8px;}
.multi_form.ac {justify-content:center;}
.multi_form label {flex:1;}
.multi_form label.check {flex:0 auto;}
.multi_form + em {display:none;}
.multi_form.err + em {margin-top:12px; color:#ff7200; font-size: 12px; display:block;}
.multi_form.err + em.type_02 {color:#0070BA;}

.multi_form .pass_wrap {border-bottom: 1px solid #E1E1E1; display:flex; align-items:center; flex:1;}
.multi_form .pass_wrap input {border-bottom:0;}
.multi_form .pass_wrap:has(input[type='text']:focus) {border-color:#222;}
.multi_form .pass_wrap label:has(input[type='text']) {width:32px;  flex:initial;}
.multi_form .pass_wrap label input[type='text'] {padding-right:0;}
.multi_form .pass_wrap strong {margin-bottom:5px; color:#B7B7B7; font-size:18px; display:flex;}

label[class*='input'] input:focus, label.select select:focus {border-color:#222;}

label[class*='input'], label.select {position:relative; display:block; flex:1;}
label.select:after {width:24px; height:24px; background-image:url('../images/common/icon_sprit.png'); background-position:-120px 0; background-repeat:no-repeat; background-size:250px auto; content:''; position:absolute; top:10px; right:3px; display:block;}
label.select:has(input:disabled):after {background-position:-120px -60px;}
label.select input:disabled {border-bottom:1px dashed #E1E1E1;}
label[class*='input'] i {color:#B7B7B7; font-size:18px; font-style:normal; line-height:18px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; position:absolute; top:11px; right:0; left:0;}/* placeholder */
label[class*='input']:has(input:disabled) i, label[class*='input']:has(textarea:disabled) i {display:none;}
label[class*='input'] input[type='text'], label[class*='input'] input[type='password'], label[class*='input'] input[type='number'] {width:100%; font-size:16px; line-height:18px;}
label[class*='input'] textarea {width:100%; min-height:150px; font-size:16px; line-height:18px;}
label[class*='input'] > em {margin-top:5px; color:#ff7200; font-size:12px; font-family:'Noto Sans'; line-height:18px; display:none;}
label[class*='input'].err > em {display:block;}
label[class*='input'].err > em.type_02 {color:#0070BA;}
label[class*='input'] * {flex:1 auto;}
label[class*='input'] input:disabled {background-color:#f0f0f0;}

label[class*='input'] button[class*='icon_'] {width:24px; height:24px; font-size:0; background-repeat:no-repeat; position:absolute; top:10px; right:0; z-index:1; display:none;}
label[class*='input'] button[class*='icon_'] + button[class*='icon_'] {margin-right:34px;}
label[class*='input'] button.icon_del:before, label[class*='input'] button.icon_del:after {width:15px; border-top:2px solid #222; content:''; position:absolute; top:50%; left:5px; display:block;}
label[class*='input'] button.icon_del:before {transform:rotate(45deg);}
label[class*='input'] button.icon_del:after {transform:rotate(135deg);}

label[class*='input'] button.icon_pss.active, label[class*='input']  button.icon_pss {background-size:cover;}
label[class*='input'] button.icon_pss.active {background-image:url('../images/common/icon_pass_view.png');}
label[class*='input'] button.icon_pss {background-image:url('../images/common/icon_pass_hide.png'); border:0;}

.combine_input {border:1px solid #C2C4CC; border-radius:8px; display:flex; align-items:center; justify-content: center;}
.combine_input .input {display:inline-block; flex:0;}
.combine_input .input .icon_del {display:none !important;}
.combine_input input {border:0;}

label.input_square i {color:#666; font-size:14px; top:13px; left:20px;}
label.input_square input, label.input_square textarea {padding:0 20px; border:1px solid #D7D8DD; border-radius:8px;}
label.input_square textarea {padding:15px 20px;resize:none;}

/* select_form */
.select select {width:100%; height:43px; padding:0 20px 0 0; font-size:18px;}
.select select option[value=""][disabled] {color:red;}
.select_form {vertical-align:middle; display:inline-block;}
.select_form select {display:none;}
.select_form dt a {padding:0 25px 0 0; font-size:13px; line-height:24px; position:relative; display:block;}
.select_form dt a:after {width:6px; height:6px; margin-top:-4px; border-right:1px solid #222; border-bottom:1px solid #222; content:''; position:absolute; top:50%; right:5px; display:inline-block; transform:rotate(45deg); transition:all 0.2s;}
.select_form dl.active dt a:after {margin-top:-3px; transform:rotate(-135deg);}
.select_form dd {position:relative;}
.select_form dd ul {min-width:100%; padding:10px; background-color:#fff; border:1px solid #e8e5e2; position:absolute; top:5px; left:0; z-index:1; display:none;}
.select_form dd li a {padding:8px 0; word-break:keep-all; display:block;}
.select_form.fr dd ul {right:0; left:initial;}

.label_wrap {border-bottom:1px solid #E1E1E1; position:relative; flex:1; display:flex; gap:10px; align-items:center;}
.label_wrap:has(input:focus) {border-color:#222;}
.label_wrap input {border-bottom:0;}

.label_wrap label + label {margin-top:10px;}

.check_group {margin-top:-20px; margin-left:-20px;}
.check_group .check {margin-top:20px; margin-left:20px;}

.check_group.boolean {margin-top:0; margin-left:0; display:flex; gap:8px;}
.check_group.boolean .check_square {flex:1;}

.check {padding-left:34px; line-height:1; position:relative; display:inline-block;}
.check > * {line-height:1.4; vertical-align:middle; display:inline-block;}
.check input {margin:0 0 0 1px; border:0; position:absolute; opacity:0; z-index:-1;}
.check .label:before, .check .label:after {content:''; position:absolute; z-index:1; display:inline-block;}

/* radio */
.check input[type='radio'] + .label:before {width:16px; height:16px; background-color:#fff; border:1px solid #ccc; border-radius:50%; top:3px; left:0;}
.check input[type='radio']:checked + .label:after {width:10px; height:10px; background-color:#333; border-radius:50%; top:6px; left:3px;}

/* checkbox */
/* .check input[type='checkbox'] {width:10px; height:10px;} */
.check input[type='checkbox'] + .label:before {width:24px; height:24px; margin-top:-12px; background-image:url('../images/common/icon_sprit.png'); background-position:0 -30px; background-repeat:no-repeat; background-size:250px auto; top:50%; left:0;}
.check input[type='checkbox']:checked + .label:before {background-position:0 -60px;}
.check input[type='checkbox']:disabled + .label:before {background-color:#f0f0f0;}

.check.type_02 input[type='checkbox'] + .label:before {width:24px; height:24px; margin-top:0; background-image:url('../images/common/icon_sprit.png'); background-position:-30px -30px; background-repeat:no-repeat; top:0; left:0;}
.check.type_02 input[type='checkbox']:checked + .label:before {background-position:-30px -60px;}


.check_square {padding:13px 20px 11px; background-color:#fff; border:1px solid #E1E1E1; border-radius:8px; text-align:center; position:relative; display:block;}
.check_square:has(input:checked) {border-color:#222;}
.check_square:has(input:disabled) {background-color:#f0f0f0; border-color:#D7D7D7;}
.check_square input {position:absolute; top:50%; left:50%; z-index:-1;}
.check_square em {color:#666; font-size:15px;}
.check_square input:checked + em {color:#222;}
.check_square input:disabled + em {color:#B9B9B9;}

.check_ani {position:relative; display:inline-block;}
.check_ani input {width:42px; height:22px; margin:0 0 0 1px; position:absolute;}
.check_ani em {min-height:24px; padding-top:4px; padding-left:48px; position:relative; display:block;}
.check_ani em:before {content:''; width:42px; height:24px; background-color:#ccc; border:0; border-radius:60px; position:absolute; top:0; left:0; display:inline-block;}
.check_ani input[type='checkbox'] + em:after {content:''; width:24px; height:24px; background-color:#fff; border:1px solid #D6DBE0; border-radius:50%; box-shadow:0 2px 7px rgba(0,0,0,0.15); position:absolute; top:50%; left:0; z-index:1; display:block; transform:translateY(-50%); transition:all 0.2s;}
.check_ani input[type='checkbox']:checked + em:before {background-color:#2ECCC8;}
.check_ani input[type='checkbox']:checked + em:after {border-color:#2ECCC8; left:21px;}

[class*='form_group'] > li + li {padding-top:50px;}
[class*='form_group'].gap_30 > li + li {padding-top:30px;}
[class*='form_group'].gap_25 > li + li {padding-top:25px;}
[class*='form_group'] .form_tit {margin-top:0; margin-bottom:13px; font-size:15px;}
[class*='form_group'] .form_tit em {color:#888; font-weight:400; display:inline-block;}
[class*='form_group'] .form_tit.required:after {margin-left:2px; color:#d60812; font-size:14px; content:'*'; display:inline-block;}

.form_group_small > li + li {padding-top:12px;}
.form_group_small .form_tit {font-size:13px; margin-bottom:6px;}